/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}
@media (max-width: 700px) {
  .top-nav {
    max-width: 650px;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .top-nav {
    max-width: 450px;
    flex-direction: column-reverse;
  }
}
.top-nav a {
  font-size: 1.6rem;
  color: #212529;
  text-decoration: none;
}
@media (max-width: 700px) {
  .top-nav a {
    width: 98%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 1% 0;
  }
}
.top-nav a:hover {
  text-decoration: underline;
}
.home .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
.home .hero .main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.home .hero .main-header .heading {
  font-size: 6rem;
  line-height: 1.5;
  text-align: center;
}
.home .hero .main-header button {
  border: 1px solid #17A2B8;
  background-color: #17A2B8;
  border-radius: 8px;
  color: #212529;
  padding: 5px 30px;
  margin: 2rem auto;
  font-size: 1.6rem;
}
.home .hero .main-header button:hover {
  background-color: #148ea1;
  color: #FFF;
}
@media (max-width: 500px) {
  .home .hero .main-img {
    display: none;
  }
}
.home .main .section-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .home .main .section-a {
    flex-direction: column;
  }
}
.home .main .section-a .top {
  width: 45%;
}
@media (max-width: 500px) {
  .home .main .section-a .top {
    width: 95%;
  }
}
.home .main .middle-img {
  border-radius: 5px;
  width: 100%;
}
.home .main .section-b {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .home .main .section-b {
    flex-direction: column;
  }
}
.home .main .section-b .bottom {
  width: 30%;
}
@media (max-width: 500px) {
  .home .main .section-b .bottom {
    width: 95%;
  }
}
.home .main .contact-section {
  margin-left: 2rem;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}
.services header {
  width: 100%;
}
.services .main-services {
  width: 95%;
  margin: 2rem;
}
.services .main-services .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .services .main-services .cards {
    flex-direction: column;
  }
}
.services .main-services .cards .card {
  width: 45%;
  margin: 2rem 0;
  padding: 2% 0;
  border-top: 1px dashed #C0C0C0;
  border-bottom: 1px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .services .main-services .cards .card {
    width: 95%;
  }
}
.services .main-services .cards .card .learn {
  border: 1px solid #17A2B8;
  background-color: #17A2B8;
  border-radius: 8px;
  color: #212529;
  padding: 5px 30px;
  margin: 2rem auto;
  font-size: 1.6rem;
}
.services .main-services .cards .card .learn:hover {
  background-color: #148ea1;
  color: #FFF;
}
.services .main-services .facts .fact {
  width: 95%;
  margin: 2rem;
}
.services .main-services .facts .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .services .main-services .facts .list {
    flex-direction: column;
  }
}
.services .main-services .facts .list ul {
  font-size: 1.6rem;
  line-height: 3;
}
