.home {

    .hero {
        .flexed(space-around, center);
        margin: 2rem 0;

        .main-header {
            .flexed(center, center);
            flex-direction: column;
            flex-wrap: wrap;

            .heading {
                font-size: 6rem;
                line-height: 1.5;
                text-align: center;
            }

            button {
                .buttons();
            }
        }
    }

    .main {
        .section-a {
            .flexed(space-around, center);
            margin: 2rem 0;

            .top {
                width: 45%;
            }
        }

        .middle-img {
            border-radius: 5px;
            width: 100%;
        }

        .section-b {
            .flexed(space-around, center);
            margin: 2rem 0;

            .bottom {
                width: 30%;
            }
        }

        .contact-section {
            margin-left: 2rem;
        }

    }

}

.footer-content {
    .flexed(center, center);
    margin: 5rem auto;
}